@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple Banking Transaction System created in ASP.NET in integration with SQL Server for database management.</p>
</div>
