@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a simple website for locally hosting purposes ONLY. So privacy policies are not required, if need be for hosting it for your own website make appropriate changes.</p>
